.App {
  min-height: 100vh;
  flex-direction: column;
  color: white;
  background-color: #222344;
  font-family: 'Montserrat';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.font-test-poster {
  font-family: 'VesterbroPoster';
}

.font-test-extra-bold {
  font-family: 'VesterbroExtrabold';
}

.font-test-medium {
  font-family: 'VesterbroMedium';
}



