.App {
  min-height: 100vh;
  flex-direction: column;
  color: white;
  background-color: #222344;
  font-family: 'Montserrat';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.font-test-poster {
  font-family: 'VesterbroPoster';
}

.font-test-extra-bold {
  font-family: 'VesterbroExtrabold';
}

.font-test-medium {
  font-family: 'VesterbroMedium';
}

/* colors */

.black {
  color: #222344;
}

.red {
  color: #FD9FA0;
}

.mint {
  color: #AEE4CD
}

.yellow {
 color: #FFE9A9;
}

.blue {
  color: #5CB3FF;
}

.purple {
  color: #998DC6;
}

.background-color {
  color: #222344;
}


/* typography */

.candidate-name{
  font-family: Montserrat-Bold;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}

.page-headers {
  font-family: 'VesterbroExtrabold';
  font-size: 40px;
  color: #0089FF;
  text-align: center;
  line-height: 80px;
}

.mega-header {
  font-family: 'VesterbroPoster';
  font-size: 64px;
  color: #0089FF;
  text-align: center;
  line-height: 80px;
}

.inline-link {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #0089FF;
  text-align: left;
}

