  @font-face {
    font-family: 'VesterbroPoster';
    font-style: normal;
    font-weight: normal;
    src: local('VesterbroPoster'), url(./fonts/Vesterbro-Poster.otf) format('opentype');
  }

  @font-face {
    font-family: 'VesterbroMedium';
    font-style: normal;
    font-weight: normal;
    src: local('VesterbroMedium'), url(./fonts/Vesterbro-Medium.otf) format('opentype');
  }

  @font-face {
    font-family: 'VesterbroExtrabold';
    font-style: normal;
    font-weight: normal;
    src: local('VesterbroExtrabold'), url(./fonts/Vesterbro-Extrabold.otf) format('opentype');
  }

  h1 {
    font-family: 'Vesterbro-Poster';
  }